.cart-wrapper {
  background: $bg-gray;

  .header {
    position: relative;

    .nav {
      max-width: 300px;
    }
  }

  .title-center {
    color: $white;
  }

  .footer__nav {
    margin-left: 50px;
  }

}

.add {
  width: 100%;
  max-width: 1300px;
  padding: 30px 15px;
  margin: 0 auto;

  .decor-center {
     margin-bottom: 60px;
  }
}


.add__inner {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.add__goods {
  width: 100%;
  max-width: 875px;
  display: grid;
  grid-template-columns: repeat(3, 275px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 275px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($black, .7);
  transition: all .3s;
  background: $bg-grey;
  color: $white;

  &:hover {
    box-shadow: 0 0 15px rgba($white, .3);
    transition: all .3s;
  }


}

.card__img {
  width: 200px;
  height: 175px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 0 5px rgba($black, .7));
}

.card__title {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 3px;
  color: $white;
}

.card__characteristics {
  width: 100%;
  transition: all .5s;
}

.card__characteristics-item {
  width: 85%;
  padding-left: 20px;
  font-size: 17px;
}

.card__characteristics-item:last-child {
  margin-bottom: 20px;
}

.card__characteristics-mean {
  margin-left: 5px;
  font-size: 16px;
  color: rgba(241, 67, 57, .7);
}

.card__counter {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba($black, .7);
}

.card__control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: #F14339;
    transition: all .3s;
  }
}

.card__current {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button {
  width: 100%;
  padding: 5px;
  border-radius: 10px;

  background: #242734;
  border: 1.4px solid #F14339;
  border-radius: 10px;

  font-size: 17px;
  line-height: 1.6;

  &:hover {
    background-color: #F14339;
    transition: all .3s;
  }
}

.add-goods-button{
  display: none;
  padding: 5px 10px;
  background: #242734;
  border: 1.4px solid #F14339;
  border-radius: 10px;

  font-size: 17px;
  line-height: 1.6;

  &:hover {
    background-color: #F14339;
    transition: all .3s;
  }
}


.add__cart-box {
  position: sticky;
  top: 0;
  max-width: 295px;
}

.card__alert {
  margin-bottom: 10px;
  font-style: 17px;
  color: rgba(241, 67, 57, .7);

}

.card__receiver {
  width: 100%;
  margin-bottom: 10px;

  .card {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card__img {
    width: 95px;
    height: 87px;
    margin-bottom: 0;
  }
  
  .card__title {
   display: none;
  }

  .card__characteristics {
   max-width: 140px;
  }
  
  .card__characteristics-item {
    width: 100%;
    padding-left:0;
    font-size: 14px;
  }
  
  .card__characteristics-item:last-child {
    margin-bottom: 15px;
  }
  
  .card__characteristics-mean {
    margin-left: 5px;
    font-size: 13px;
    color: rgba(241, 67, 57, .7);
  }
  
  .card__counter {
    width: 100%;
    height: 23px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .card__control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
  
    &:hover {
      background-color: #F14339;
      transition: all .3s;
    }
  }
  
  .card__current {
    font-size: 14px;
  }
  
}

.card__total-price {
  margin-bottom: 10px;
  font-size: 17px;

}

.card__total-num {
  margin: 0 5px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(241, 67, 57, .7);
}

.card__form-wrapper {
  width: 100%;

  .card__title {
    font-size: 25px;
    text-align: left;
    color: rgba($white, .7);
  }
}

.card__input-wrapper {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.card__input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: 1px solid $text-color;
  border-radius: 10px;

  &::placeholder {
    color: $text-color;
    transition: all .3s;
  }

  &:focus {
    outline: 1px solid $white;
    transition: all .3s;
  }

  &:focus::placeholder {
    font-size: 13px;
    transform: translate(0, -15px);
    transition: all .3s;
  }
}

.card__send-button {
  width: 100%;
  padding: 5px;
  border-radius: 10px;

  background: #242734;
  border: 1.4px solid #F14339;
  border-radius: 10px;

  font-size: 17px;
  line-height: 1.6;

  &:hover {
    background-color: #F14339;
    transition: all .3s;
  }
}

@media (max-width:1225px) {
  .add__goods {
    grid-template-columns: repeat(2, 275px);
  }
}

@media (max-width:950px) {
  .cart-wrapper {

    .header {
  
      .nav {
        max-width: 100vw;
      }
    }
}
}




@media (max-width:915px) {
  .add__goods {
    max-width: 300px;
    grid-template-columns: repeat(1, 275px);

  }
}

@media (max-width:810px) {

  .cart-wrapper {
  
      .nav {
        max-width: 100vw;
      }
  }
}

@media (max-width:650px) {
  .add__inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .add__goods {
    grid-template-columns: repeat(1, 275px);
    margin: 0 auto 20px auto;
  }

  .add-goods-button{
    display: block;
  }

  .add__cart-box {
    margin: 0 auto 20px auto;
  }
}