.convenience {
  width: 100%;
  padding: 110px 90px 102px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF6F3;

  picture {
    flex-shrink: 0.3;
  }

}

.convenience__content {
  width: 100%;
  max-width: 500px;
  margin-right: 20px;
}

.convenience__title {
  max-width: 317px;
}

.convenience__text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.58;
  color: #C8AAA1;
}

.convenience__list {
  list-style: none;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 133px);
  gap: 20px;
  align-content: start;
  justify-content: space-between;
}

.convenience__svg {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  fill:#c1c1c1;
  // fill: #F14339;
}

.convenience__descr {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: $black;
}

.convenience__img {
  filter: drop-shadow(10px 0 10px #9b7b70);
}


@media (max-width:1300px) {
  .convenience {
    padding: 120px 15px 112px 62px;
  }
}

@media (max-width:1100px) {
  .convenience {
    padding: 120px 15px 112px 62px;

    picture {
      transform: rotate(-90deg);
      margin-left: -70px;
    }
  }

  .convenience__content {
    margin-right: 0;
    align-self: start;
  }

}

@media (max-width:900px) {
  .convenience {
    flex-direction: column;
    padding: 60px 15px 60px 62px;

    picture {
      margin-left: 0;
      transform: rotate(0);
    }
  }
}

@media (max-width:600px) {
  .convenience {
    padding: 60px 15px 60px 15px;
    justify-content: center;
  }

  .convenience__content {
    align-self: center;
  }
}

@media (max-width:500px) {
  .convenience__list {
    display: block;
  }

  .convenience__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .convenience__text {
    margin-bottom: 20px;
    font-size: 17px;
  }

  .convenience__svg {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
  }
}

