.design-block {
  width: 100%;
  background: linear-gradient(180deg, #383B45 0%, #090D1D 151.01%);
}

.description {
  width: 100%;
  padding: 115px 0;
}

.description__wrapper {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}

.description__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 340px));
  grid-template-rows: auto;
  justify-content: center;
  gap: 63px;
}

.description__item {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.description__svg {
  width: 50px;
  height: 50px;
  fill: none;
  stroke: none;

  margin-bottom: 32px;
}

.animate-svg {
    animation-name: fill-icon;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    
    stroke:transparent;
    stroke-width: 1;
    transition: all 1s linear;
    stroke-dashoffset: 250;
    stroke-dasharray: 250;
}

@keyframes fill-icon {
  0% {
    
    stroke-dashoffset: 250;
   
  }

  100% { 
    stroke: $white;
    stroke-dashoffset: 0;
  }
 
}

.description__title {
  margin-bottom: 14px;
  color: $white;
}

.description__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.46;
  text-align: center;
  color: $text-color;

  margin-bottom: 19px;
}

.description__link {
  width: 100%;
  max-width: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all .3s;

  span {
    position: relative;
    margin-right: 2px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.65;
    color: #FF5F5F;
   transition: all .3s;

  }
  &:hover  .description__link-svg{
   transform: translateX(15px);
   transition: all .3s;
  }

  &:hover span{
   letter-spacing: 1px;
    transition: all .3s;
   }

}


.description__link-svg {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #FF5F5F;
  margin-bottom: -3px;
  transition: all .3s;
}

@media (max-width:768px) {
  .description {
    padding: 50px 0;
  }
}