.footer {
  width: 100%;
  padding: 30px 125px 35px 125px;
  background: $bg-gray;
}

.footer__inner {
  width: 100%;
  max-width: 1250px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px 0 39px 0;
  border-bottom: 1px solid rgba(136, 136, 136, .2);

  .logo {
    order: 1;
  }

}

.footer__nav {
  width: 100%;
  max-width: 440px;
  margin-right: 50px;
  margin-left: -30px;
  order: 2;
}

.footer__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__nav__item {}

.footer__nav-link {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #A5A5A5;
  -webkit-text-stroke: 0.1px $link-color;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: $white;
    -webkit-text-stroke: 0 $link-color;
    overflow: hidden;
    animation: hover-text-rev .3s ease-in forwards;
  }

  &:hover::before {
    animation: hover-text .3s ease-in forwards;
  }
}

@keyframes hover-text {
  0% {
    width: 0%;

  }

  100% {
    width: 100%;

  }
}

@keyframes hover-text-rev {
  0% {
    width: 100%;

  }

  100% {
    width: 0%;

  }
}


.social {
  order: 3;
  width: 100%;
  max-width: 136px;
  height: 24px;
  display: grid;
  grid-template-columns: repeat(3, 24px);
  column-gap: 32px;
  justify-content: space-between;
}

.social__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  transition: all .3s;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 3px;
    width: 19px;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    z-index: 1;
    background-color: $white;
    transition: all .3s;
  }

  &:hover::before {
    height: 23px;
    opacity: 1;
    transition: all .3s;
  }
}

.social__svg {
  position: relative;
  z-index: 2;
  width: 24px;
  height: 24px;
  fill: #888888;
}

.footer__bottom {
  width: 100%;
  padding-top: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #888888;
}

.footer__bottom-list {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__bottom-item:nth-child(1) {
  order: 1;
}

.footer__bottom-item:nth-child(2) {
  order: 2;
}

.footer__bottom-item:nth-child(3) {
  order: 3;
}

.footer__bottom-item +.footer__bottom-item {
  margin-left: 56px;
}

.footer__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #888888;
 -webkit-text-stroke: 0.1px $link-color;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: $white;
    -webkit-text-stroke: 0 $link-color;
    overflow: hidden;
    animation: hover-link-rev .3s ease-in forwards;
  }

  &:hover::before {
    animation: hover-link .3s ease-in forwards;
  }
}

@keyframes hover-link {
  0% {
    width: 0%;

  }

  100% {
    width: 100%;

  }
}

@keyframes hover-link-rev {
  0% {
    width: 100%;

  }

  100% {
    width: 0%;

  }
}


@media (max-width:950px) {
  .footer__top {
    flex-wrap: wrap;

    .logo {
      margin-bottom: 15px;
    }
  }

  .footer__nav {
    margin-left: 0;
    margin-right: 0;
    order: 3;
  }

  .social {
    order: 2;
    margin-bottom: 15px;
  }
}

@media (max-width:700px) {
  .footer__bottom-list {
    justify-content: space-between;
  }

  .footer__bottom-item+.footer__bottom-item {
    margin-left: 0;
  }

}

@media (max-width:600px) {
  .footer {
    padding: 30px 50px 35px 50px;


  }
}

@media (max-width:450px) {
  .footer {
    padding: 20px 20px 20px 20px;
  }
}

@media (max-width:390px) {
  .footer {

    .logo {
      margin-right: 70px;
    }
  }

  .footer__top {
    padding: 8px 0 39px 0;
  }

  .footer__nav__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
  }

  .footer__bottom-list {
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: flex-start;
  }

  .footer__bottom-item:nth-child(1) {
    order: 3;
    margin-top: 15px;
  }

  .footer__bottom-item:nth-child(2) {
    order: 1;
    margin-right: 30px;
  }

  .footer__bottom-item:nth-child(3) {
    order: 2;
    margin-right: 30px;
  }


}