/* global styles*/

body {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.6;
  color: $text-color;
  overflow-x: hidden;
}

img {
  filter: sepia(100%);
 transition: all .5s;
 transition-delay: .7s;
}

.uninverted {
  filter: sepia(0);
  transition: all .5s;
  transition-delay: .7s;
}
:root {
  scroll-behavior: smooth;
}

.none {
  display: none;
}

.visible {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}

// .untranslate {
//  transform: translateY(0);
//   transition: all 1s;
// }
.untranslate {
  opacity: 1;
  transform: translate(0, 0);
   transition: all .5s;
 }

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
//  border:1px solid red;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 15px;
  // border:1px solid rgb(21, 37, 222);
}

.title-left {
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  text-align: left;
  color: $black;

}

.decor-left {
  width: 100%;
  max-width: 250px;
  height: 2px;
  margin-bottom: 35px;
  transform-origin: right;
  transform: scale(0);
  background: linear-gradient(90deg, #F14339 0.4%, rgba(241, 67, 57, 0) 100.8%);
  filter: drop-shadow(0px 6px 24px rgba(255, 35, 0, 0.3));
  border-radius: 2px;
}

.title-center {
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: $black;
}

.decor-center {
  width: 100%;
  max-width: 250px;
  height: 2px;
  margin:0 auto 35px auto;
  transform-origin: center;
  transform: scale(0);

  background: linear-gradient(90deg, rgba(241, 67, 57, 0) 0.4%, rgb(241, 67, 57) 50%, rgba(241, 67, 57, 0) 100.8%);
  filter: drop-shadow(0px 6px 24px rgba(255, 35, 0, 0.3));
  border-radius: 2px;
 
}

.learn-more__left-decor {
  width: 100%;
  max-width: 200px;
  height: 2px;
  margin-bottom: 15px;
  transform-origin: right;
  transform: scale(0);

  background: linear-gradient(90deg, #F14339 0.4%, rgba(241, 67, 57, 0) 100.8%);
  filter: drop-shadow(0px 6px 24px rgba(255, 35, 0, 0.3));
  border-radius: 2px;
}

.unscaled { 
  transform: scale(1);
  transition: all 1s;
  transition-delay: .5s;
}

.title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  color:$black;
}

.button-cart {
  display: inline-block;
  padding: 20px 67px;
  background: #242734;
  border: 1.4px solid #F14339;
  box-shadow: 0px 6px 24px rgba(255, 35, 0, 0.3);
  border-radius: 12px;

  font-weight: 800;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:$white;

  transition: all .3s;

  &:hover {
    box-shadow: 0px 6px 24px rgba(255, 35, 0, 0.6);
  }
}

.icon {
  transition: all .5s;
  transition-delay: 1s;
}



@media (max-width:768px) {
  body {
    font-size: 18px;
  }

  .button-cart {
    padding: 15px 50px;
  }

  .title-left,
  .title-center {
    font-size: 36px;
  }
}

@media (max-width:600px) {
  body {
    font-size: 17px;
  }
  .title-left,
  .title-center {
    font-size: 33px;
  }
}

@media (max-width:360px) {
  .title-left,
  .title-center {
    font-size: 32px;
  }
  .button-cart {
    font-size: 15px;
  }
}