.possibilities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(290px, 750px));
  align-content: center;
  justify-content: center;
}

.possibilities__content {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-content: center;
  justify-content: center;
  padding: 50px 20px 50px 50px;
}

.possibilities__subtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #F14339;

  margin-bottom: 25px;
}

.possibilities__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: $text-color;

  margin-bottom: 55px;
  max-width: 516px;
}

.possibilities__list {
  list-style: none;
}

.possibilities__item {
  width: 100%;
  max-width: 360px;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 24px;
}

.possibilities__item:not(:last-child) {
  margin-bottom: 40px;
}

.possibilities__svg-box {
  width: 42px;
  height: 41px;
}

.possibilities__svg {
  width: 41px;
  height: 40px;
  // fill: #F14339;
  fill:#c1c1c1;
}

.possibilities__item-content {}

.possibilities__title-item {
  margin-bottom: 8px;
}

.possibilities__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $text-color;
}

.possibilities__img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  max-width: 750px;
  height: 100%;
  // aspect-ratio: 1 /1.12;
  object-fit: cover;
  object-position: center;

}

.range,
.comfort {

  .possibilities__img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

  }

  .possibilities__content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}


@media (max-width:950px) {
  .possibilities {
    grid-template-columns: repeat(auto-fill, minmax(290px,100%));
  }

  .range,
  .comfort {

    .possibilities__img {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .possibilities__content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }


  .possibilities__content {
    padding: 50px 20px;
  }

  .possibilities__img {
    min-width: 100%;
  }

}

@media (max-width:360px) {
  .possibilities__text {
    font-size: 17px;

    margin-bottom: 35px;
    max-width: 290px;
  }

}