.pre-order {
  display: grid;
  grid-template-columns: repeat(2, minmax(474px, 1fr));
  width: 100%;
  background: $bg-grey;
}

.pre-order__content {
  display: grid;
  align-content: center;
  justify-content: center;
}

.pre-order__content-inner {
  width: 100%;
  max-width: 360px;
}

.pre-order__title {
  color:$white;
}

.pre-order-content-text {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 19px;
  line-height: 1.58;
  color: $text-color;
}

.pre-order__content-price {
  margin-bottom: 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $text-color;

}

.pre-order__content-sum {
  margin-left: 16px;
  font-weight: 800;
font-size: 17px;
line-height: 1.5;
letter-spacing: 3px;
text-transform: uppercase;
color:$white;
}


.header-img {
  width: 100%;
  object-fit: cover;
}


@media (max-width:950px) {
  .pre-order {
    grid-template-columns: repeat(auto-fill, minmax(290px, 100%));
  }

  .pre-order__content {
    padding: 50px 15px;
  }
}