// colors
$bg-grey: linear-gradient(180deg, #383B45 0%, #090D1D 151.01%);
$bg-gray: linear-gradient(180deg, #383B45 0%, #090D1D 100%);
$text-color: #9599A5;
$link-color:#ACAFBF;
$black: #010001;
$white:#fff;


// fonts 
$font: 'Gilroy';

// transform
$null:0;